.small ng-bind="ctrl.thing.created_at | date:'dd.MM.yyyy'"

a.btn.btn-primary ui-sref="edit_thing_path(ctrl.thing)" = t('.edit')
|&nbsp;
a.btn.btn-danger ng-click="ctrl.destroy(ctrl.thing)" = t('.delete')

h1 ng-bind="ctrl.thing.title"

h2 = t('.description')
p ng-bind="ctrl.thing.description"

h2 = t('.address')
p ng-bind="ctrl.thing.address"

h2 = t('.category')
p ng-bind="ctrl.thing.category"

h2 = t('.tags')
p ng-bind="ctrl.thing.tags"

